.rest-details {
  padding-top: 24px;
  padding-bottom: 40px;
  background-color: #7a7a7a;
  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 20px;
  }
  &__text {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #bababa;
    margin-bottom: 40px;
  }
  &__wrapper {
    margin-left: auto;
    max-width: 259px;
    @include for-size(tablet) {
      margin-left: 278px;
      max-width: 610px;
    }
    &--left {
      text-align: right;
      margin-right: auto;
      margin-left: 0;
    }
  }
  &__wrapper-out {
    @include for-size(tablet) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: flex-end;

      &.row--reversed {
        flex-direction: row;
      }
    }
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    @include for-size(tablet) {
      margin-bottom: 51px;
    }
  }
}

.rest-details {
  @include backgroundImageRetina(
    $page: home,
    $section: restaurant-details,
    $part: mobile,
    $file: background-mob,
    $webp-file: '../images/home/restaurant-details/mobile/background-mob.webp'
  );

  @include for-size(tablet) {
    @include backgroundImageRetina(
      $page: home,
      $section: restaurant-details,
      $part: tablet,
      $file: background-tab,
      $webp-file: '../images/home/restaurant-details/tablet/background-tab.webp'
    );
  }

  @include for-size(desktop) {
    @include backgroundImageRetina(
      $page: home,
      $section: restaurant-details,
      $part: desktop,
      $file: background-desk,
      $webp-file:
        '../images/home/restaurant-details/desktop/background-desk.webp'
    );
  }
}
