.rest-about {
  padding-top: 16px;
  padding-bottom: 0px;
  @include for-size(tablet) {
    padding-top: 120px;
  }
  &__title {
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    color: #b4b4b4;
    margin-bottom: 12px;
    @include for-size(tablet) {
      margin-bottom: 4px;
      font-size: 32px;
    }
  }
  &__subtitle1 {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #5f5f5f;
    margin-bottom: 28px;

    @include for-size(tablet) {
      font-size: 16px;

      margin-bottom: 142px;
    }
  }
  &__subtitle2 {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #c79002;
    margin-bottom: 28px;
    max-width: 163px;
    @include for-size(tablet) {
      font-size: 16px;
      max-width: 312px;
      margin-bottom: 0px;
    }
  }
  &__image--right {
    height: auto;
    width: 244px;
    border-radius: 2px;
    background: #dadada;
    overflow: hidden;
    box-shadow: 2px 2px 60px 2px rgb(0 0 0 / 25%);
    margin-bottom: 32px;
    @include for-size(tablet) {
      // position: absolute;
      // top: -152px;
      // right: 100px;
      margin-top: -150px;
      width: 400px;
      box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
    }
  }
  &__image--left {
    height: auto;
    width: 200px;
    border-radius: 2px;
    background: #dadada;
    overflow: hidden;
    box-shadow: 2px 2px 60px 2px rgb(0 0 0 / 25%);
    margin-bottom: 32px;
    @include for-size(tablet) {
      width: 350px;
      box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
    }
  }
  &__wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
    @include for-size(tablet) {
      gap: 48px;
    }
  }
}
