<section class="room">
  <div class="container">
    <p class="room__subtitle">Amet minim mollit non</p>
    <svg class="icon room--icon" width="127" height="43">
      <use href="./images/icons.svg#logo"></use>
    </svg>
    <h2 class="room__title">ДВОМІСНИЙ НОМЕР люкс</h2>
    <p class="room__description">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <div class="room__image-wrapper">
      <img class="image" src="./images/hotel-room1-mobile@1x.jpg" alt="room" />
    </div>
    <div class="slick">
      <ul class="slick__list one-time list">
        <li class="slick__item">
          <img
            class="image slick__box"
            src="./images/room1-mobile@1x.jpg"
            alt="room1"
          />
        </li>
        <li class="slick__item">
          <img
            class="image slick__box"
            src="./images/room2-mobile@1x.jpg"
            alt="room2"
          />
        </li>
        <li class="slick__item">
          <img
            class="image slick__box"
            src="./images/room3-mobile@1x.jpg"
            alt="room3"
          />
        </li>
        <li class="slick__item">
          <img
            class="image slick__box"
            src="./images/room4-mobile@1x.jpg"
            alt="room4"
          />
        </li>
      </ul>
    </div>

    <button type="button" class="button" data-modal-open>Детальніше</button>
    <button type="button" class="button">Переглянути ціни</button>
  </div>
</section>
