<!-- Header block should be included inside "Canvas" block. -->
<footer class="footer section">
  <div class="container footer__container">
    <a href="./index.html" class="footer__logo-link">
      <h3 class="logo logo--accent">MIMIHO</h3>
    </a>
    <ul class="footer__list">
      <li class="footer__item">
        <a href="./index.html" class="footer__link"> Головна </a>
      </li>
      <li class="footer__item">
        <a href="#" class="footer__link"> Ресторан </a>
      </li>
      <li class="footer__item">
        <a href="#" class="footer__link"> Готель </a>
      </li>
    </ul>
    <ul class="footer__socials">
      <li>
        <a
          href="https://www.instagram.com/"
          target="_blank"
          rel="nofollow noopener noreferrer"
          class="footer__socials-link"
        >
          <span class="footer__socials-title">Instagram</span>
          <svg width="24" height="24" class="icon">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.facebook.com/"
          target="_blank"
          rel="nofollow noopener noreferrer"
          class="footer__socials-link"
        >
          <span class="footer__socials-title">Facebook</span>
          <svg width="24" height="24" class="icon">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.telegram.com/"
          target="_blank"
          rel="nofollow noopener noreferrer"
          class="footer__socials-link"
        >
          <span class="footer__socials-title">Telegram</span>
          <svg width="24" height="24" class="icon">
            <use href="./images/icons.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
    <!-- <div class="footer__wrapper"></div> -->
  </div>
</footer>
