<!-- Header block should be included inside "Canvas" block. -->
<header class="header">
  <div class="container">
    <nav class="header__nav">
      <a href="./index.html" class="logo">MIMIHO</a>
      <ul class="header__list">
        <li class="header__item">
          <a href="#" class="header__link"> Ресторан</a>
          <a href="">
            <svg width="24" height="24" class="icon">
              <use href="./images/icons.svg#icon-phone"></use>
            </svg>
          </a>
        </li>
        <li class="header__item">
          <a href="#" class="header__link"> Готель </a>
          <a href="">
            <svg width="24" height="24" class="icon">
              <use href="./images/icons.svg#icon-phone"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
    <!-- <h2>header!!!</h2> -->
  </div>
</header>
