<ul class="socials">
  <li>
    <a
      href="https://www.instagram.com/"
      target="_blank"
      rel="nofollow noopener noreferrer"
    >
      <svg width="24" height="24" class="icon">
        <use href="./images/icons.svg#icon-instagram"></use>
      </svg>
    </a>
  </li>
  <li>
    <a
      href="https://www.facebook.com/"
      target="_blank"
      rel="nofollow noopener noreferrer"
    >
      <svg width="24" height="24" class="icon">
        <use href="./images/icons.svg#icon-facebook"></use>
      </svg>
    </a>
  </li>
  <li>
    <a
      href="https://www.telegram.com/"
      target="_blank"
      rel="nofollow noopener noreferrer"
    >
      <svg width="24" height="24" class="icon">
        <use href="./images/icons.svg#icon-telegram"></use>
      </svg>
    </a>
  </li>
</ul>
