.address {
  @extend %link;
  position: absolute;
  max-width: 210px;
  width: 100%;
  height: auto;
  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;
  padding: 6px;
  display: flex;
  gap: 6px;
  align-items: center;
  @include for-size(micro-mobile-only) {
    top: 64px;
    right: var(--padding-mobile);
  }
  @include for-size(mobile-only) {
    top: 64px;
    right: calc(((100% - $mobile) / 2) + var(--padding-mobile));
  }
  @include for-size(tablet-only) {
    bottom: 64px;
    left: calc(((100% - $tablet) / 2) + var(--padding-tablet));
  }
  @include for-size(desktop) {
    bottom: 64px;
    left: calc(((100% - $desktop) / 2) + var(--padding-desktop));
  }
  &__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.01em;
    color: #e5e5e5;
  }
}
