//============
// Buttons
//============
.button {
  width: 236px;
  height: 48px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--color-accent-yellow);
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid;
  border-color: #ffffff;
  border-radius: 25px;
  transition: var(--animation);
  &:hover {
    border-color: #f3c653;
    background-color: #fff;
    cursor: pointer;
  }
}

.button + .button {
  @include for-size(micro-mobile-only) {
    margin-top: 24px;
  }
  @include for-size(mobile-only) {
    margin-top: 24px;
  }
  @include for-size(tablet) {
    margin-left: 40px;
  }
  @include for-size(desktop) {
    margin-left: 60px;
  }
}

.buttons-wrapper {
  text-align: center;
  @include for-size(tablet) {
    display: flex;
    flex-direction: column;
  }
}
