//============
// Icons
//============
.icon {
  display: block;
  color: var(--color-accent-yellow);
  fill: currentColor;
  &__location {
    width: 20px;
    height: 20px;
  }
  &__phone {
    @include for-size(tablet) {
      margin-right: 8px;
    }
  }
  &--dark {
    color: #000;
  }
  &--light {
    color: #fff;
  }
}
