.logo {
  @extend %link;

  font-family: var(--font-logo);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.08;
  letter-spacing: 0.3em;
  @include for-size(mobile) {
    font-size: 36px;
  }
  @include for-size(tablet) {
    font-size: 43px;
  }
  &__rest-about {
    font-size: 40px;
    color: #494848;
    margin-bottom: 12px;
    @include for-size(tablet) {
      font-size: 64px;
      margin-bottom: 24px;
    }
  }
  &__rest-details {
    font-size: 40px;
    color: #fff;
    margin-bottom: 12px;
    text-align: center;
  }
}
