.room {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #fffdee;
  @include for-size(tablet) {
    padding-top: 62px;
    padding-bottom: 104px;
  }
  &__subtitle {
    font-family: var(--font-secondary);
    font-size: 20px;
    line-height: 1.15;
    color: #b4b4b4;
    margin-bottom: 8px;
    @include for-size(tablet) {
      font-size: 32px;
      line-height: 1.15;
      margin-bottom: 4px;
    }
  }
  &--icon {
    color: #494848;
    margin-bottom: 32px;
    @include for-size(tablet) {
      width: 202px;
      height: 69px;
      margin-bottom: 62px;
    }
  }
  &__title {
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    margin-bottom: 12px;
    color: #000000;
    @include for-size(tablet) {
      font-size: 30px;
      line-height: 1.13;
      margin-bottom: 16px;
    }
    @include for-size(desktop) {
      font-size: 36px;
      line-height: 1.13;
      margin-bottom: 24px;
    }
  }
  &__description {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #5f5f5f;
    margin-bottom: 32px;
    @include for-size(tablet) {
      font-size: 16px;
      line-height: 1.25;
      margin-bottom: 116px;
      max-width: 439px;
    }
  }
  &__image-wrapper {
    outline: 1px dotted green;
    height: auto;
    width: 244px;
    margin-left: auto;
    border-radius: 2px;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    background-color: #dadada;
    @include for-size(tablet) {
      position: absolute;
      top: -32px;
      left: 50%;
      width: 400px;
      height: 524px;
      border-radius: 0;
      box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
    }
  }
  &__group {
    @include for-size(tablet) {
      display: flex;
    }
  }
}

.btn-block {
  outline: 1px dotted green;
  @include for-size(tablet) {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
}
