.room {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #fffdee;
  &__subtitle {
    font-size: 20px;
    line-height: 1.15;
    color: #b4b4b4;
    margin-bottom: 8px;
  }
  &--icon {
    color: rgba(73, 72, 72, 1);
    margin-bottom: 32px;
  }
  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    margin-bottom: 12px;
    color: #000000;
  }
  &__description {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #5f5f5f;
    margin-bottom: 32px;
  }
  &__image-wrapper {
    height: auto;
    width: 244px;
    margin-left: auto;
    border-radius: 2px;
  }
}

.slick {
  &__slider-wrapper {
    width: calc(100% + 30px); //we need more width for the shadows on the edges
    padding: 0 15px; //space for the shadows
    margin-left: -15px; //put the div in its original position
    overflow: hidden; //hide the overflow
  }
  &__list {
    // width: 320px;
    transform: translateX(-120px);
    overflow: visible;
    display: flex;

    margin-top: 32px;
    margin-bottom: 90px;
    margin-left: -8px;
    margin-right: -8px;
    // padding: 0 0 0 20%;
  }

  &__box {
    // width: 194px;
    // height: 194px;

    // border-radius: 2px;
  }
  &__item {
    // max-width: 194px;
    // box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.25);
    margin: 0 8px;
  }
}

.slick-slide {
  width: 194px;
}

.my-slick-prev,
.my-slick-next {
  position: absolute;
  height: 32px;
  width: 32px;
  bottom: calc(-32px - 20px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.my-slick-prev {
  left: 135px;
  background-image: url('../images/arrow-left.svg');
}

.my-slick-next {
  left: calc(135px + 32px + 32px);
  background-image: url('../images/arrow-right.svg');
}
