.swiper-wrapper {
  @extend %list;
  .left & {
    left: 15px;
  }
  .right & {
    right: 10px;
  }
}

.swiper-arrows {
  display: flex;
  align-items: center;
  height: 32px;
  gap: 32px;
}

.swiper-button-next::after,
.swiper-button-prev::after,
.swiper-button-next-dark::after,
.swiper-button-prev-dark::after {
  display: none;
}

.swiper-button-next,
.swiper-button-prev,
.swiper-button-next-dark,
.swiper-button-prev-dark {
  position: relative;
  left: unset;
  right: unset;
  top: 0;
  width: 32px;
  height: 32px;
  margin-top: 0;
}

section[data-slider='basic'] .swiper-slide {
  width: 245px;
  @include for-size(tablet) {
    width: 194px;
  }
  @include for-size(desktop) {
    width: 254px;
  }
}

section[data-slider='dark'] .swiper-slide {
  height: 100%;
  width: 274px;
  @include for-size(tablet) {
    width: 270px;
  }
}

section[data-slider='basic'] .swiper-container-out {
  overflow-x: hidden;
  padding: 60px;
  outline: 1px dotted red;
  @include for-size(tablet) {
    margin-top: -120px;
    // margin-right: -60px;
    width: 58%;
  }
  @include for-size(desktop) {
    // margin-right: -110px;
    width: 62%;
  }
}
section[data-slider='dark'] .swiper-container-out {
  overflow: hidden;
  outline: 1px dotted red;
  @include for-size(tablet) {
    width: 68%;
  }
  @include for-size(desktop) {
    width: 72%;
  }
}

.swiper-slide__image {
  height: 100%;
}

section[data-slider='basic'] .swiper-slide {
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
}

.swiper-container-out .swiper-slide {
  visibility: hidden;
  border-radius: 2px;
}

.swiper-dark {
  transform: translateX(57px);
  @include for-size(tablet) {
    transform: translateX(190px);
  }
}

.right .swiper-slide-active,
.left .swiper-slide-active {
  visibility: visible;
}

.right .swiper-slide-next {
  visibility: visible;
}

.left .swiper-slide-prev {
  visibility: visible;
  @include for-size(tablet) {
    visibility: hidden;
  }
}
.left .swiper-slide-next {
  @include for-size(tablet) {
    visibility: visible;
  }
}

section[data-slider='dark'] .swiper-slide-prev {
  @include for-size(tablet) {
    visibility: visible;
  }
}

.right {
  margin-right: 0;
  // margin-left: calc(-1 * var(--padding-mobile));
  @include for-size(tablet) {
    margin-left: auto;
    margin-right: 0;
  }
}

.left {
  // margin-right: calc(-1 * var(--padding-mobile));
  margin-left: 0;
  @include for-size(tablet) {
    margin-right: auto;
    margin-left: 0;
  }
}

.right .swiper-arrows {
  justify-content: end;
  margin-top: var(--padding-mobile);
  margin-right: var(--padding-mobile);
}

.right .swiper-basic {
  @include for-size(tablet) {
    transform: translateX(70px);
  }
  @include for-size(desktop) {
    transform: translateX(114px);
  }
}
