.swiper-wrapper {
  @extend %list;
}

.swiper-arrows {
  display: flex;
  align-items: center;
  height: 32px;
  gap: 32px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-next,
.swiper-button-prev {
  position: relative;
  left: unset;
  right: unset;
  top: 0;
  width: 32px;
  height: 32px;
  margin-top: 0;
}

.swiper-basic .swiper-slide {
  width: 245px;
  @include for-size(tablet) {
    width: 194px;
  }
  @include for-size(desktop) {
    width: 254px;
  }
}

.swiper-dark .swiper-slide {
  width: 274px;
  @include for-size(tablet) {
    width: 194px;
  }
  @include for-size(desktop) {
    width: 254px;
  }
}

section[data-slider='basic'] .swiper-container-out {
  overflow-x: hidden;
  // width: 86%;
  padding: 60px;
  @include for-size(tablet) {
    margin-top: -120px;
    margin-right: -60px;
    width: 58%;
  }
  @include for-size(tablet) {
    width: 62%;
  }
}
section[data-slider='dark'] .swiper-container-out {
  overflow-x: hidden;
  // width: 86%;
  padding: 60px;
  @include for-size(tablet) {
    margin-right: -60px;
    width: 80%;
  }
  @include for-size(tablet) {
    width: 62%;
  }
}

.swiper-container-in {
  // outline: 1px dotted red;
  // margin: -60px;
}

.swiper-container-out .swiper-slide {
  visibility: hidden;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.swiper-slide.swiper-slide-active,
.swiper-slide.swiper-slide-next {
  visibility: visible;
}

.swiper-dark .swiper-slide.swiper-slide-prev {
  @include for-size(tablet) {
    visibility: visible;
  }
}

.right {
  margin-right: calc(-1 * var(--padding-mobile));
  margin-left: calc(-1 * var(--padding-mobile));
  @include for-size(tablet) {
    margin-left: auto;
    margin-right: calc(-1 * var(--padding-tablet));
  }
  @include for-size(desktop) {
    margin-left: auto;
    margin-right: calc(-1 * var(--padding-desktop));
  }
}

.right .swiper-arrows {
  justify-content: end;
  margin-top: var(--padding-mobile);
  margin-right: var(--padding-mobile);
}
