//============
// Footer
//============
.footer {
  position: relative;
  background: #0e0c07;
  padding: 40px 0;
  color: var(--color-accent-yellow);
  @include for-size(tablet) {
    padding: 80px 0;
  }
  &__container {
    display: grid;
    grid-template-columns: 66% auto;
    @include for-size(tablet) {
      grid-template-columns: 50% 25% 25%;
    }
  }
  &__link {
    @extend %link;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  &__logo-link {
    @extend %link;
    grid-row: 1/3;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__list {
    @extend %list;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
    @include for-size(tablet) {
      align-items: flex-start;
      justify-content: center;
      height: 100%;
    }
  }
  &__socials {
    @extend %list;
    display: flex;
    gap: 20px;
    @include for-size(tablet) {
      flex-direction: column;
      justify-content: center;
      gap: 12px;
    }
  }
  &__wrapper {
    @include for-size(tablet) {
      display: flex;
      align-items: center;
    }
  }
  &__socials- &__socials-link {
    display: none;
    @extend %link;
    @include for-size(tablet) {
      display: block;
    }
  }
}
