//============
// Footer
//============
.footer {
  background: #0e0c07;
  padding: 40px 0;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  &__link {
    @extend %link;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-accent-yellow);
  }
  &__list {
    @extend %list;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__wrapper {
  }
}
