//============
// Header
//============
.header {
  position: absolute;
  z-index: 99;
  width: 100%;
  top: 16px;
  left: 0;
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__list {
    @extend %list;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__link {
    @extend %link;
    display: flex;
    align-items: center;
    margin-right: 6px;
    color: var(--color-accent-yellow);
  }
  &__item {
    display: flex;
  }
}
