//============
// Header
//============
.header {
  position: absolute;
  z-index: 99;
  width: 100%;
  top: 16px;
  left: 0;
  @include for-size(tablet) {
    top: 24px;
  }
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include for-size(desktop) {
      justify-content: flex-start;
    }
  }
  &__list {
    @extend %list;
    display: flex;
    align-items: center;
    gap: 20px;
    @include for-size(tablet) {
      gap: 72px;
    }
    @include for-size(desktop) {
      margin-left: 96px;
    }
  }
  &__link {
    @extend %link;
    display: flex;
    align-items: center;

    color: var(--color-accent-yellow);
  }
  &__item {
    display: flex;
    gap: 6px;
    @include for-size(tablet) {
      gap: 32px;
    }
  }
  &__tel-link {
    @extend %link;

    @include for-size(tablet) {
      display: flex;
      align-items: center;
      padding: 8px;
      border: 1px solid rgba(243, 198, 83, 0.7);
      border-radius: 2px;
    }
  }
  &__tel {
    @extend %link;
    display: none;
    @include for-size(tablet) {
      display: flex;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.22px;
      letter-spacing: 0.02em;
    }
  }
  &__tel-list {
    @extend %list;
    display: flex;
    align-items: center;
    gap: 16px;
  }
}
