<section class="section rest-details" data-slider="dark">
  <div class="container">
    <div class="rest-details__wrapper">
      <h3 class="logo logo__rest-details">MIMIHO</h3>
      <h2 class="rest-details__title">Ресторан</h2>
      <p class="rest-details__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div class="rest-details__wrapper-out">
      <div class="swiper-container-out right">
        <div class="swiper-dark">
          <ul class="swiper-wrapper">
            <li class="swiper-slide">
              <picture>
                <source
                  media="(max-width: 1023px)"
                  srcset="
                    ./images/swiper/home/restaurant-details/mobile/slider-1.webp    1x,
                    ./images/swiper/home/restaurant-details/mobile/slider-1@2x.webp 2x,
                    ./images/swiper/home/restaurant-details/mobile/slider-1@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/swiper/home/restaurant-details/desktop/slider-1.webp    1x,
                    ./images/swiper/home/restaurant-details/desktop/slider-1@2x.webp 2x,
                    ./images/swiper/home/restaurant-details/desktop/slider-1@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/swiper/home/restaurant-details/tablet/slider-1.webp    1x,
                    ./images/swiper/home/restaurant-details/tablet/slider-1@2x.webp 2x,
                    ./images/swiper/home/restaurant-details/tablet/slider-1@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(max-width: 1023px)"
                  srcset="
                    ./images/swiper/home/restaurant-details/mobile/slider-1.jpg    1x,
                    ./images/swiper/home/restaurant-details/mobile/slider-1@2x.jpg 2x,
                    ./images/swiper/home/restaurant-details/mobile/slider-1@3x.jpg 3x
                  "
                />
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/swiper/home/restaurant-details/desktop/slider-1.jpg    1x,
                    ./images/swiper/home/restaurant-details/desktop/slider-1@2x.jpg 2x,
                    ./images/swiper/home/restaurant-details/desktop/slider-1@3x.jpg 3x
                  "
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/swiper/home/restaurant-details/tablet/slider-1.jpg    1x,
                    ./images/swiper/home/restaurant-details/tablet/slider-1@2x.jpg 2x,
                    ./images/swiper/home/restaurant-details/tablet/slider-1@3x.jpg 3x
                  "
                />
                <img
                  class="swiper-slide__image"
                  src="./images/swiper/home/restaurant-details/desktop/slider-1.jpg"
                  alt="Готовий стейк з гілочкою розмарину на тарілці"
                />
              </picture>
            </li>
            <li class="swiper-slide">
              <picture>
                <source
                  media="(max-width: 1023px)"
                  srcset="
                    ./images/swiper/home/restaurant-details/mobile/slider-2.webp    1x,
                    ./images/swiper/home/restaurant-details/mobile/slider-2@2x.webp 2x,
                    ./images/swiper/home/restaurant-details/mobile/slider-2@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/swiper/home/restaurant-details/desktop/slider-2.webp    1x,
                    ./images/swiper/home/restaurant-details/desktop/slider-2@2x.webp 2x,
                    ./images/swiper/home/restaurant-details/desktop/slider-2@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/swiper/home/restaurant-details/tablet/slider-2.webp    1x,
                    ./images/swiper/home/restaurant-details/tablet/slider-2@2x.webp 2x,
                    ./images/swiper/home/restaurant-details/tablet/slider-2@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(max-width: 1023px)"
                  srcset="
                    ./images/swiper/home/restaurant-details/mobile/slider-2.jpg    1x,
                    ./images/swiper/home/restaurant-details/mobile/slider-2@2x.jpg 2x,
                    ./images/swiper/home/restaurant-details/mobile/slider-2@3x.jpg 3x
                  "
                />
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/swiper/home/restaurant-details/desktop/slider-2.jpg    1x,
                    ./images/swiper/home/restaurant-details/desktop/slider-2@2x.jpg 2x,
                    ./images/swiper/home/restaurant-details/desktop/slider-2@3x.jpg 3x
                  "
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/swiper/home/restaurant-details/tablet/slider-2.jpg    1x,
                    ./images/swiper/home/restaurant-details/tablet/slider-2@2x.jpg 2x,
                    ./images/swiper/home/restaurant-details/tablet/slider-2@3x.jpg 3x
                  "
                />
                <img
                  class="swiper-slide__image"
                  src="./images/swiper/home/restaurant-details/desktop/slider-2.jpg"
                  alt="Шашлик, поданий на маленькій дошці"
                />
              </picture>
            </li>
            <li class="swiper-slide">
              <picture>
                <source
                  media="(max-width: 1023px)"
                  srcset="
                    ./images/swiper/home/restaurant-details/mobile/slider-3.webp    1x,
                    ./images/swiper/home/restaurant-details/mobile/slider-3@2x.webp 2x,
                    ./images/swiper/home/restaurant-details/mobile/slider-3@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/swiper/home/restaurant-details/desktop/slider-3.webp    1x,
                    ./images/swiper/home/restaurant-details/desktop/slider-3@2x.webp 2x,
                    ./images/swiper/home/restaurant-details/desktop/slider-3@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/swiper/home/restaurant-details/tablet/slider-3.webp    1x,
                    ./images/swiper/home/restaurant-details/tablet/slider-3@2x.webp 2x,
                    ./images/swiper/home/restaurant-details/tablet/slider-3@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(max-width: 1023px)"
                  srcset="
                    ./images/swiper/home/restaurant-details/mobile/slider-3.jpg    1x,
                    ./images/swiper/home/restaurant-details/mobile/slider-3@2x.jpg 2x,
                    ./images/swiper/home/restaurant-details/mobile/slider-3@3x.jpg 3x
                  "
                />
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/swiper/home/restaurant-details/desktop/slider-3.jpg    1x,
                    ./images/swiper/home/restaurant-details/desktop/slider-3@2x.jpg 2x,
                    ./images/swiper/home/restaurant-details/desktop/slider-3@3x.jpg 3x
                  "
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/swiper/home/restaurant-details/tablet/slider-3.jpg    1x,
                    ./images/swiper/home/restaurant-details/tablet/slider-3@2x.jpg 2x,
                    ./images/swiper/home/restaurant-details/tablet/slider-3@3x.jpg 3x
                  "
                />
                <img
                  class="swiper-slide__image"
                  src="./images/swiper/home/restaurant-details/desktop/slider-3.jpg"
                  alt="Блюдо на пательні"
                />
              </picture>
            </li>
          </ul>
        </div>
        <!-- Кнопки навігації по свайперу -->
        <div
          class="swiper-arrows swiper-arrows--light11 swiper-arrows--light--right11"
        >
          <div class="swiper-button-prev-dark">
            <svg class="icon icon--light" width="32" height="32">
              <use href="./images/icons.svg#icon-arrow-left"></use>
            </svg>
          </div>
          <div class="swiper-button-next-dark">
            <svg class="icon icon--light" width="32" height="32">
              <use href="./images/icons.svg#icon-arrow-right"></use>
            </svg>
          </div>
        </div>
      </div>
      <div class="rest-details__buttons">
        <button class="button">Забронювати столик</button>
        <button class="button">Забронювати номер</button>
      </div>
    </div>
  </div>
</section>
